// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Bahnschrift', 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$color-principal: #004F28;
$color-principal-dark: #002600;
$color-principal-light: #397C51;
$color-complement: #59ADFF;
$color-complement-dark: #007ECB;
$color-complement-light: #93DFFF;
$color-background: #012414;
$color-accent: #673AB7;