.nav-container {
    width: 80vw;
    margin: 0 auto 0 auto;
}

.img-container-circle {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container-circle .img-svg {
    width: 50px;
    height: auto;
}

.img-container-circle .photo {
    width: 100%;
    height: auto;
}

.border-left {
    border-style: solid;
    border-width: 0 0 0 2px !important;
}

.border-solid {
    border-style: solid;
    border-width: 2px;
}

.border-dashed {
    border-style: dashed;
    border-width: 2px;
}

@media only screen and (max-width: 600px) {
    .nav-container {
        width: 100vw;
    }

    .img-container-circle {
        width: 50px;
        height: 50px;
        overflow: hidden;
    }

    .img-container-circle .img-svg {
        width: 30px;
    }
}

.border-message {
    border-radius: 20px 20px 0 20px;
}

.img-container-sm-circle {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container-sm-circle .img-svg {
    width: 35px;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .container-app {
        width: 100vw;
    }

    .img-container-sm-circle {
        width: 30px;
        height: 30px;
    }

    .img-container-sm-circle .img-svg {
        width: 20px;
        height: auto;
    }
}
